.app_table {
    height: 100vh;
    width: 100%;
}

.app_content {
    width: 67%;
    height: 100%;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    vertical-align: top;
}

.app_toolbar {
    height: 0%;
}

.app_menu {
    width: 8%;
}

.app_right_menu {
    width: 25%;
}